@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
  @keyframes shimmer {
    from { transform: translateX(-100%); }
    to { transform: translateX(100%); }
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

body {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}
